@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');

#header{
display: flex;
padding-left: 20px;
font-size: 25px;
justify-content: space-between;
padding: 10px 0px;
width: 100%;
top: 0px;
transition: background 0.4s;
background-color:#a79c8e;
min-width:1490px;
}
#dropdown{
    margin-top:5%;
}
ul#dropdown a {

        color: black;
        display: block;
        padding: 0 20px;
        text-decoration: none;
        line-height: 40px;

    }
    ul#dropdown a:hover { /* 滑鼠滑入按鈕變色*/
       
        color: :#f0f5f9;
    }
    ul#dropdown li:hover > a { /* 滑鼠移入次選單上層按鈕保持變色*/
        
        color:#f0f5f9;
    }
     ul#dropdown ul { /*隱藏次選單*/
         left: 99999px;
        opacity: 0;
        transition: opacity 0.3s;

        
    }

    ul#dropdown li:hover > ul { /* 滑鼠滑入展開次選單*/
        opacity: 1;
        transition: opacity 2s;
        left: -1px;
        border-right: 5px;
    }
    ul#dropdown li:hover > ul ul { /* 滑鼠滑入之後、次選單之後的選單依舊隱藏*/
        left: 99999px;
    }

    ul
    {
margin:0px;
padding: 0px;
list-style: none;
}

ul li{

color:#f0f5f9;
width: 200px;
height: 40px;
opacity: .8;
line-height: 20px;
text-align: center;
}
 ul li a {
	display: block;
}
ul li ul li{
	display: none;
}
ul li:hover ul li{
	
	display: block;
}
#header a{
	transition-property: width, opacity;
			
			opacity: 0.7;		
}

#header a,a:link,a:visited{
color:#d8e9ef;text-decoration: none;
}
#header a:hover{
	opacity: 1.0;
	color:black;
	text-decoration:none;
}
.logo img{
    height:180px;
    width:180px;
    padding: 13%;
    margin-left:90%;
}
.icon{
    
    margin-top: 4%;
    margin-right: 2%;
    font-size: 40px;
}
