@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
.body{
background-color: #306D66;/*背景顏色*/
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-size: cover;
}
.login{
	font-family:'Permanent Marker', cursive;
	width:300px;
	margin:150px 45% 0px 45%;	
}
.login h1{
	color:#E0C33F;
	font-size:40px;
	border-bottom: 6px solid #00BD9D;
	margin-bottom:20px;
	padding: 13px 0

}
.textbox{
	width:100%;
	overflow: hidden;
	font-size: 20px;
	padding: 8px 0;
	margin:8px 0;
	border-bottom: 2px solid #45CFB7;
}
.textbox input{
	border:none;
	outline:none;
	background: none;
	color:white;
	font-size: 20px;
	width: 80%
	float:left;
	margin:5px 10px;
}
.sub{
	width:100%;
	background:none;
	border:2px solid #5D4D4F;
	color:white;
	padding:5px;
	font-size: 20px;
	cursor:pointer;
	margin:12px 0;
}
.reg{
	width:100%;
	background:none;
	border:2px solid #5D4D4F;
	color:white;
	padding:5px;
	font-size: 20px;
	cursor:pointer;
	margin:12px 0;
}
#indexphoto{
margin-top:5%; 
font-family: 'Shadows Into Light', cursive;
color:#F17F42;

font-size: 40px;
line-height: 100px;
display:  block;
text-align:  center;
}
#indexphoto img{

width:250px;
height:250px;
border-radius:250px;
transition-duration: 2s;
}
#indexphoto img:hover{
height:400px;
width:400px;
transition: 2s;
border-radius:40px;
}
#footer {
    background-color: #79a8a9;
    text-align:center;
    color: white;
    font-size: 16px;
    height: 80px;
    padding-top: 10px;
   	font-family: 'Source Code Pro', monospace;   
}
.hr{
	 height:10px;
	 border:none;
	 border-top:10px dotted #fe4365 ;
}
.font{
	width: 400px;
	border:2px;
	background: #306D66;
	border-radius: 40px 10px;
}
.hobbie {
	margin-bottom: 2%;
	line-height: 50px;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 20px;
	color:#69B7CE;
}
.target{
	margin-bottom: 2%;
	line-height: 50px;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 20px;
	color:#69B7CE;
}
